/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/header/header.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

.header_header__0ZBDm{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.header_linkList__zR5db{
  display: flex;
}


.header_linkList__zR5db >  a{
  background: rgba(var(--colorB1), .7);
  color: rgba(var(--colorT1), 1);
  border-radius: 6px;
  padding: .5rem 1.4rem;
  margin:  0 .8rem;
                  /*minimo, massimo, preferito */
  font-size: clamp(1rem, 2vw, 2rem);;
  letter-spacing: .2rem;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/footer/footer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/galleryFacet/galleryFacet.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/


/* Default Gallery */
.galleryFacet_defaultGalleryContainer__Fj7nr{
  overflow-x: hidden;
  height: 100%;
  position: relative;
  top: 0;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
}
  .galleryFacet_defaultGalleryWrapper__8TPx6{
    position: relative;
    width: 100%;
    height: 100%;
  }

.galleryFacet_defaultGalleryName__9nV8U{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: size;
    resize: horizontal;
    z-index: 1;
  }

  .galleryFacet_defaultGalleryName__9nV8U h2{
    width: fit-content;
    font-size: 8cqw;
    color: rgb(251 231 196);
    text-shadow: 1px 1px 12px rgba(0,0,0,1);
    letter-spacing: .6rem;
  }
  .galleryFacet_defaultImagesContainer__1CqKu{
    display: flex;
    align-items: center;
    height: 100%;
  }

.galleryFacet_defaultImagesContainer__1CqKu img{
  object-fit: contain;
  margin: 0 1rem;
  height: 100%;
  width: auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.galleryFacet_defaultGalleryContainer__Fj7nr img:first-of-type {
  scroll-snap-align: start;
}

.galleryFacet_defaultGalleryContainer__Fj7nr img:last-of-type {
  scroll-snap-align: end;
}



/* Puzzle Gallery */

.galleryFacet_puzzleGalleryContainer__0OJtP{
  display: flex;
}

  .galleryFacet_puzzleGalleryName__bsw8s{

  }

  .galleryFacet_puzzleGalleryName__bsw8s h2{
    font-size: var(--h3-fs);
    text-shadow: 1px 1px 15px rgba(0,0,0,1);
  }


  .galleryFacet_puzzleGalleryImageContainer__hR6SU{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
  }


  
@media (max-width: 767px) {
   .galleryFacet_defaultGalleryName__9nV8U h2{
    font-size: 3rem;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/homepage.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/


.homepage_homepageBanner__tZO_P{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--color2), 1);
    flex: 0 1 85vh;
    width: 100%;
    scroll-snap-align: start;
  }
  

  .homepage_bannerImage__aNfpL{
    height: 100%;
    width: 20%;
    object-fit: cover; 
  }
  .homepage_titleWrapper__t4Uu4{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    container-type: inline-size;
  }

  .homepage_titleContainer__ykyhH{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: center;
    align-items: center;
    background: rgba(213,65,65, 1);
    mix-blend-mode: multiply; 
  }

  .homepage_titleContainer__ykyhH .homepage_title1__Pfccm{
    color: black;
    font-size: 15cqw;
    text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
  }


  .homepage_homepageHeader__D61qL{
    flex: 0 0 15vh;
    margin-bottom: 3rem;
  }


  .homepage_homepageContainer__gkuSI{
    flex: 1;
  }


  .homepage_homepageContainer__gkuSI > .homepage_galleryContainer__ET3JM{
    position: relative;
    margin: 2rem 0;
    height: 35vh;
    scroll-snap-stop: always;
  }

  .homepage_homepageContainer__gkuSI > .homepage_galleryContainer__ET3JM:first-of-type{
    margin: 0 0 2rem 0;
  }



  .homepage_homepageFooter__I7Y8v{
    scroll-snap-align: end;
    scroll-snap-stop: always;
  }

@media (max-width: 767px) {
  .homepage_homepageBanner__tZO_P{
    flex: 0 1 20vh;
  }
  .homepage_galleryContainer__ET3JM{
    height: 25vh;
  }
  .homepage_homepageHeader__D61qL{
    flex: 0 0 auto;
  }
}

