
.mobileBanner{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: .3rem 0 0 0;
}

.mobileBanner .left,
.mobileBanner .center,
.mobileBanner .right{
  display: flex;
  position: relative;
}

.mobileBanner .left{
  justify-content: flex-start;
  align-items: flex-start;
}

.mobile-banner .center{
  justify-content: center;
  align-items: flex-start;
}
.mobile-banner .right{
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 1rem;
}

.menuButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .3rem;
  background: rgba(var(--colorB1), 1);
  border: 1px solid rgba(var(--colorT1), 1);
  border-radius: 1.5rem;
  padding: .3rem;
  height: 2.5rem;
  width: 2.5rem;
}

.menuButton .bar{
 width: 80%; 
 height: .3rem;
 background: rgba(var(--colorT1), 1);;
 margin: .1rem 0;
 border-radius: .5rem;
}

.mobileLink{
    width: "100%";
    height: "4rem";
    background: rgba(var(--colorB1), 1);
    margin: .5rem 0;
    padding: .3rem;
    border-radius: 0 7px 7px 0;
    border: .5px solid black;
}

.menu{
  position: absolute;
  z-index: -1;
  min-height: 60vh;
  color: rgba(var(--colorT1), 1);
  opacity: 0;
  border-radius: .5rem;
}

.header{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.linkList{
  display: flex;
}


.linkList >  a{
  border-radius: 6px;
  padding: .5rem 1.4rem;
  margin:  0 .8rem;
  letter-spacing: .2rem;
}

.letter{
  /*minimo, massimo, preferito */
  font-size: clamp(1rem, 3vw, 3rem);;
}

