
.mobileBanner{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: .3rem;
}

.mobileBanner .left,
.mobileBanner .center,
.mobileBanner .right{
  display: flex;
  position: relative;
}

.mobileBanner .left{
  justify-content: flex-start;
  align-items: flex-start;
}

.mobile-banner .center{
  justify-content: center;
  align-items: flex-start;
}
.mobile-banner .right{
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 1rem;
}

.menuButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .3rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  padding: .3rem;
  height: 2.5rem;
  width: 2.5rem;
}

.menuButton .bar{
 width: 80%; 
 height: .3rem;
 background: black;
 margin: .1rem 0;
 border-radius: .5rem;
}

.menu{
  position: absolute;
  z-index: -1;
  min-height: 60vh;
  background: white;
  opacity: 0;
  border-radius: .5rem;
}

.header{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.linkList{
  display: flex;
}


.linkList >  a{
  background: rgba(var(--colorB1), .7);
  color: rgba(var(--colorT1), 1);
  border-radius: 6px;
  padding: .5rem 1.4rem;
  margin:  0 .8rem;
                  /*minimo, massimo, preferito */
  font-size: clamp(1rem, 2vw, 1.8rem);;
  letter-spacing: .2rem;
}
