.galleryTitle {
  margin: 0 0 0 2rem;
}

.wall {
  scroll-behavior: smooth;
}

.wall > .paintingFocus {
  scroll-snap-align: center;
}

.wall > .paintingFocus:first-child {
  scroll-snap-stop: always;
}
