

/*  Gallery */
.GalleryContainer{
  overflow-x: hidden;
  height: 100%;
  position: relative;
  top: 0;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
}
  .GalleryWrapper{
    position: relative;
    height: 100%;
    width: 100rem;
  }

.GalleryName{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: size;
    resize: horizontal;
    z-index: 3;
  }

  .GalleryName h1{
    width: fit-content;
    color: rgba(var(--colorB1), 1);
    text-shadow: 1px 1px 12px rgba(0,0,0,1);
    letter-spacing: .6rem;
  }
  .ImagesContainer{
    display: flex;
    align-items: center;
    height: 100%;
  }

.ImagesContainer img{
  object-fit: contain;
  margin: 0 1rem;
  height: 100%;
  width: auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.GalleryContainer img:first-of-type {
  scroll-snap-align: start;
}

.GalleryContainer img:last-of-type {
  scroll-snap-align: end;
}


