

/*  Gallery */
.GalleryContainer{
  height: 100%;
  position: relative;
  top: 0;
  overflow: hidden;
  /* touch-action: "pan-y"; */
}
  .GalleryWrapper{
    position: relative;
    height: 100%;
  }

.GalleryName{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    container-type: size;
    resize: horizontal;
    z-index: 3;
    min-height: 50%;
    overflow-wrap: anywhere;
    width: 100%;
  }

  .GalleryName a{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .GalleryName h1{
    width: 100%;
    color: rgba(var(--colorB1), 1);
    text-shadow: 1px 1px 12px rgba(0,0,0,1);
    letter-spacing: .6rem;
  }
  .ImagesContainer{
    display: flex;
    align-items: center;
    height: 100%;
  }

.ImagesContainer img{
  object-fit: contain;
  margin: 0 1rem;
  height: 100%;
  width: auto;
  will-change: transform;
}

/*.GalleryContainer img:first-of-type {
}

.GalleryContainer img:last-of-type {
}*/


